<div class= "container text-center" style="margin-bottom: 150px;">


  <div class = "about-image">

      <p class = "text-white col-md-5 pt-5">
        繁華街に出かけた際、</br>
        空いているカフェがなかなか見つからず苦労する、</br>
        「カフェ難民」になることがよくあります。</br>
        当アプリ【CAFIE】を利用すれば、</br>
        現在地周辺の空いているカフェがネットで検索でき、</br>
        カフェを探して歩き回る苦労もなく、</br>
        大切な時間をより有効的に使えます。</br>
      </p>
       <p class = "text-white col-md-5 pt-5">
        また、立地の悪さなどがマイナスとなり、</br>
        お店自体が認知されず集客に結びつかない…</br>
        という悩みを持った店舗様へ、 </br>
        このアプリがたくさんの方々に店舗様を知って頂くきっかけとなり、</br>
        集客に繋がると幸いです。</br>
        新型ウイルスの影響で経営が厳しい昨今ですが、</br>
        少しでも店舗様の手助けになりますように。</br>
      </p>

  </div>

</div>