<p>繁華街に出かけた際、</p>
<p>空いているカフェがなかなか見つからず苦労する「カフェ難民」になることがよくあります。</p>
<p>そんな時、当アプリ【CAFIE】を利用すれば、現在地周辺の空いているカフェがネットで検索でき、カフェを探して歩き回る苦労もなく、</p>
<p>大切な時間をより有効的に使えます。</p>
<p></p>
<p>また、立地の悪さなどがマイナスとなり、</P>
<p>お店自体が認知されず集客に結びつかない…という悩みを持った店舗様もいらっしゃるかと思いますが、 </p>
<p>このアプリが、たくさんの方々に店舗様を知って頂くきっかけとなり、集客に繋がると幸いです。</p>
<p>新型ウイルスの影響で経営が厳しい昨今ですが、少しでも店舗様の手助けになりますように。</p>